.header div {
	height:60px;
	margin:0 auto;
	width:960px;
}
.header div ul {
	float: right;
    list-style: none outside none;
    margin: 21px 0 0;
    padding: 0;
}
.header div ul li {
	color:black;
	float:left;
	list-style-position:inside;
	list-style-type:disc;
	margin:0 0 0 10px;
	position:relative;
}
.header div ul li.selected a, .header div ul li a:hover {
	color:grey;
}
.header div ul li a {
	color:black;
	font-family: 'forumregular';
	font-size:12px;
	letter-spacing:2px;
	text-decoration:none;
	text-transform:uppercase;
}
.header div ul li ul {
	height:auto;
	left:-99999px;
	margin:0 0 0 13px;
	position:absolute;
	z-index:1000;
}
.header .featured {
	background:url(../images/bg-featured.png) repeat-x 0 -1px;
	height:auto;
	width:auto;
}
.header .featured img {
	height:740px;
	position:absolute;
	width:50%;
	left:0;
}
.header .featured div {
	background:url(../images/figure1.png) no-repeat;
	height:749px;
	margin:0 auto;
	position:relative;
	width:960px;
}
.header .featured div h3 {
	color:#e1e1e1;
	font-family:Myriad Pro, sans-serif;
	font-size:73px;
	font-weight:400;
	left:573px;
	line-height:73px;
	margin:0;
	position:absolute;
	text-shadow:1px 1px 1px #606163;
	text-transform:uppercase;
	top:240px;
}
.header .featured div a {
	background:url(../images/interface.png) no-repeat 15px -35px;
	color:#444a5b;
	display:block;
	font-family: 'forumregular';
	font-size:14px;
	height:31px;
	left:575px;
	line-height:32px;
	position:absolute;
	text-decoration:none;
	text-indent:30px;
	text-transform:uppercase;
	top:390px;
	width:215px;
}
.header .featured div a:hover {
	background:url(../images/interface.png) no-repeat 15px -66px;
}
.body {
	padding:0 0 30px;
	z-index:100;
}
.body div {
	margin:0 auto;
	overflow:hidden;
	width:960px;
}
.body div h2 {
	color:#444a5b;
	font-family: 'abelregular';
	font-size:15px;
	font-weight:400;
	letter-spacing:2px;
	margin:24px 0 0;
	text-transform:uppercase;
}
.body div h2 a {
	color:#444a5b;
}
.body div p {
	color:#8a8989;
	font-family: 'abelregular';
	font-size:14px;
	line-height:24px;
	margin:27px 0 0;
	text-align:justify;
	letter-spacing:0.001em;
}
.body div p a {
	color:#8a8989;
}
.body div p a:hover {
	color:#4b4b4b;
}
.body div ul {
	list-style:none;
	margin:22px 0 0;
	overflow:hidden;
	padding:0;
}
.body div ul li {
	float:left;
	margin:0 0 0 11px;
	text-align:center;
}
.body div ul li a:first-child {
	background:none;
	height:auto;
	margin:0 auto;
	width:218px;
}
.body div ul li a {
	color:black;
	display:block;
	font-family: 'forumregular';
	font-size:16px;
	height:54px;
	letter-spacing:2px;
	line-height:55px;
	text-decoration:none;
	text-transform:uppercase;
	width:231px;
}
.body .collections .navigation {
	background:url(../images/bg-navigation.png) no-repeat;
	height:45px;
	padding:0;
	width:960px;
}
.body .collections .navigation ul {
	margin:0 auto;
	width:790px;
}
.body .collections .navigation ul li:first-child {
	background:none;
	margin:0;
	padding:0;
}
.body .collections .navigation ul li {
	background:url(../images/separator.jpg) no-repeat left top;
	height:45px;
	margin:0 0 0 5px;
	padding:0 0 0 15px;
	width:auto;
}
.body .collections .navigation ul li a {
	color:black;
	font-family: 'abelregular';
	font-size:12px;
	letter-spacing:2px;
	line-height:44px;
	text-decoration:none;
	text-transform:uppercase;
	width:auto;
}
.body .collections .navigation ul li a:hover, .body .collections .navigation ul li.selected a {
	color:black;
}
.body .collections div {
	margin:0 auto;
	padding:0 39px 36px;
	width:860px;
}
.body .collections div h2 {
	margin:25px 0;
}
.body .collections div ul {
	margin:1px 0 0;
	overflow:hidden;
	width:865px;
}
.body .collections div ul li {
	float:left;
	margin:0 0 0 2px;
}
.body .collections div ul li a {
	display:block;
	width:287px;
}
.body .collections div ul li a img {
	border:1px solid #fff;
}
.body div ul li a:hover {
	color:grey;
}
.body div ul li:first-child,.body .collections div ul li:first-child {
	margin:0;
}
.footer {
	border-top:1px solid #dedede;
	color:#929191;
	font-family: 'forumregular';
	font-size:12px;
	height:36px;
	text-transform:uppercase
}
.footer div p {
	float:left
}
.footer div ul {
	float:left;
	list-style:none;
	margin:12px 75px 12px 3px;
	padding:0
}
.footer div ul li {
	float:left;
	margin:0 0 0 5px;
	padding:0 0 0 7px
}
.footer div .connect {
	float:right;
	margin:12px 0 0 0;
	width:auto
}
.footer div ul li a, .footer div .connect a {
	color:#929191;
	font-family: 'forumregular';
	font-size:12px;
	text-decoration:none;
	text-transform:uppercase;
	margin:0 10px 0 0;
}
